In [1]:
import pandas as pd

In [2]:
session = spark.read.parquet("../output/ifood/ufg_dataset_all/info_session/").na.drop().dropDuplicates()
session = session.filter(session.buy == 1)
session.show(2)

+--------------------+--------------------+--------------------+-------------------+---+------------+
|          session_id|          account_id|         merchant_id|    click_timestamp|buy|dt_partition|
+--------------------+--------------------+--------------------+-------------------+---+------------+
|5ff71a38-fc11-43b...|c36939b3-5823-49b...|374d62c7-55f0-4e9...|2019-07-09 12:31:36|  1|  2019-07-09|
|0563f1a3-8099-4e1...|8a5502ce-681b-431...|374d62c7-55f0-4e9...|2019-07-23 13:57:22|  1|  2019-07-23|
+--------------------+--------------------+--------------------+-------------------+---+------------+
only showing top 2 rows

In [3]:
restaurant = spark.read.parquet("../output/ifood/ufg_dataset_all/info_restaurant/")#.na.drop().dropDuplicates()
restaurant.show(2)

+--------------------+--------------------+--------------------+----------------+-----------+---------+--------------+----------+----------+
|         merchant_id|        trading_name|         description|dish_description|price_range|avg_score|item_imagesurl|  latitude| longitude|
+--------------------+--------------------+--------------------+----------------+-----------+---------+--------------+----------+----------+
|1decb7ac-8af3-48f...|      Sushi Brothers|      Sushi Brothers| Comida Japonesa|          1|     null|          null|-23.458474|-46.514287|
|c2baed42-a1dc-44e...|Thaynam Pizzaria ...|A melhor Pizza da...|           Pizza|          3|     null|          null|-23.448811|-46.525148|
+--------------------+--------------------+--------------------+----------------+-----------+---------+--------------+----------+----------+
only showing top 2 rows

In [4]:
df = session.join(restaurant.select("merchant_id", "dish_description"), "merchant_id")
df.show()

+--------------------+--------------------+--------------------+-------------------+---+------------+----------------+
|         merchant_id|          session_id|          account_id|    click_timestamp|buy|dt_partition|dish_description|
+--------------------+--------------------+--------------------+-------------------+---+------------+----------------+
|374d62c7-55f0-4e9...|5ff71a38-fc11-43b...|c36939b3-5823-49b...|2019-07-09 12:31:36|  1|  2019-07-09| Comida Italiana|
|374d62c7-55f0-4e9...|0563f1a3-8099-4e1...|8a5502ce-681b-431...|2019-07-23 13:57:22|  1|  2019-07-23| Comida Italiana|
|374d62c7-55f0-4e9...|09ed6df7-2089-40f...|226f1138-711d-4cf...|2019-07-09 12:24:37|  1|  2019-07-09| Comida Italiana|
|374d62c7-55f0-4e9...|8a291f04-1b84-44c...|ed5c64ad-b483-428...|2019-07-18 19:29:27|  1|  2019-07-18| Comida Italiana|
|73ce4c6d-8643-4bc...|a999ecc1-e41a-49a...|bb824e1a-58e0-46b...|2019-07-17 15:58:30|  1|  2019-07-17|         Lanches|
|73ce4c6d-8643-4bc...|e10cb3cf-912d-4fa...|89df40db-452a-4ef...|2019-07-30 18:59:30|  1|  2019-07-30|         Lanches|
|92c5c3a6-40be-4a8...|9db7fb89-5817-4b1...|ae3e7a2b-04fe-401...|2019-07-05 02:48:08|  1|  2019-07-05|         Lanches|
|92c5c3a6-40be-4a8...|992034cf-0bbc-44d...|8953184f-ae40-4fe...|2019-07-08 19:50:16|  1|  2019-07-08|         Lanches|
|92c5c3a6-40be-4a8...|e30e2702-92f4-4d5...|4dbc36c1-ae4f-4e9...|2019-06-04 13:34:49|  1|  2019-06-04|         Lanches|
|92c5c3a6-40be-4a8...|26d37b24-1f61-469...|cd8870c7-42f6-4ac...|2019-07-08 12:40:59|  1|  2019-07-08|         Lanches|
|92c5c3a6-40be-4a8...|844fa39e-5de1-42d...|4eb1ab07-35b6-4a2...|2019-07-10 18:11:41|  1|  2019-07-10|         Lanches|
|92c5c3a6-40be-4a8...|0bc3de2e-2a92-402...|b3fdb2a1-95de-43c...|2019-06-30 12:15:45|  1|  2019-06-30|         Lanches|
|92c5c3a6-40be-4a8...|79f839a9-d5bf-461...|5100c58e-b2e2-46f...|2019-06-16 17:02:01|  1|  2019-06-16|         Lanches|
|92c5c3a6-40be-4a8...|618d9921-cad9-458...|0be63fe1-80ff-45a...|2019-06-10 00:20:24|  1|  2019-06-10|         Lanches|
|92c5c3a6-40be-4a8...|307dd9a8-b081-457...|a266ac31-ccf7-4e4...|2019-07-10 14:36:07|  1|  2019-07-10|         Lanches|
|92c5c3a6-40be-4a8...|bea290db-c239-440...|e6f38a27-fa1f-46a...|2019-06-15 17:27:28|  1|  2019-06-15|         Lanches|
|92c5c3a6-40be-4a8...|7530c5e6-2c61-493...|22135234-3aa1-404...|2019-06-22 03:43:07|  1|  2019-06-22|         Lanches|
|92c5c3a6-40be-4a8...|6ae8ab50-ade8-499...|dc1d8f2c-1c56-4cc...|2019-07-08 13:19:44|  1|  2019-07-08|         Lanches|
|92c5c3a6-40be-4a8...|d949bdcf-19ee-499...|2454fb9e-3d48-428...|2019-06-28 16:14:49|  1|  2019-06-28|         Lanches|
|92c5c3a6-40be-4a8...|655423d9-6eed-429...|793bed05-ef01-44f...|2019-07-08 14:26:06|  1|  2019-07-08|         Lanches|
+--------------------+--------------------+--------------------+-------------------+---+------------+----------------+
only showing top 20 rows

In [5]:
df = df.toPandas()

In [6]:
df.head(2)

,merchant_id,session_id,account_id,click_timestamp,buy,dt_partition,dish_description
0,374d62c7-55f0-4e94-9291-11ab53d7ca91,5ff71a38-fc11-43be-b314-ab2321eed14c,c36939b3-5823-49ba-b6fc-ac21103422b8,2019-07-09 12:31:36,1,2019-07-09,Comida Italiana
1,374d62c7-55f0-4e94-9291-11ab53d7ca91,0563f1a3-8099-4e12-8e11-2e08c76ee0be,8a5502ce-681b-4310-ad0e-e4d8dcb38aeb,2019-07-23 13:57:22,1,2019-07-23,Comida Italiana

In [7]:
import gc
gc.collect()

46

In [8]:
#df.groupby("dish_description").agg({'merchant_id': ''})

# interactions
# session_id_uniq
# merchant_uniq
# account_id_uniq
# days_uniq

In [48]:
df_group = df.groupby("dish_description").agg({'buy': 'count', 
                                                'session_id': 'nunique', 
                                                'merchant_id': 'nunique', 
                                                'account_id': 'nunique'}).sort_values('buy', ascending = False)
df_group

                           buy  session_id  merchant_id  account_id
dish_description
Lanches                 212614       65789          282       38886
Comida Brasileira       150062       57825          267       29382
Pizza                   122567       41852          247       26898
Comida Japonesa          61997       18286           45       12259
Comida Chinesa           39076       12638           19        9255
Marmita                  23914        9509           51        6712
Açaí                     23071        7455           28        4985
Carnes                   22752        8667           27        4903
Salgados                 20999        6946           29        5398
Comida Saudável          16858        5076           22        2982
Comida Árabe             15296        4816           17        3523
Doces & Bolos            15276        4059           49        2860
Comida Italiana          12985        4301           24        2952
Cozinha Rápida           10734        3607           11        2296
Mineira                   8696        3629            4        2131
Comida Variada            7975        2996           15        1815
Sorvetes                  6501        2215            9        1454
Hambúrguer                4958        1329            2        1102
Frutos do Mar             4175        1394            2        1049
Pastel                    3968        1266           15        1069
Bebidas                   2673         771           21         566
Comida Mexicana           2378         467            4         379
Frangos                   2320         848            1         682
Sopas & Caldos            2148         693            1         475
Padaria                   1746         487            9         399
Comida Mediterrânea       1591         392            1         308
Peixes                     548         198            3         168
Comida Asiática            514         123            3         102
Comida Contemporânea       470         132            1          97
Cafeteria                  314         118            3          82
Congelados                 260          84            7          77
Baiana                     138          42            1          36
Conveniência               125          17            1          15
Comida Portuguesa           26           8            1           8
Nordestina                  11           5            1           5
Vegetariana                  2           1            1           1

In [49]:
df_group.merchant_id.sum()

1224

In [50]:
data = []

for d in list(df.dish_description.unique()):

    dff = df[df.dish_description == d]
    dff = dff[['merchant_id', 'buy']].groupby('merchant_id').count().sort_values('buy', ascending = False).head(1)#.groupby('merchant_id').first()
    dff = dff.rename(columns={'buy': 'percent_merchant_most_buy'})
    dff['dish_description'] = d
    dff = dff.set_index('dish_description')
    data.append(dff)
    
dff_m = pd.concat(data)
dff_m.head()

                  percent_merchant_most_buy
dish_description
Comida Italiana                        5539
Lanches                               19933
Comida Japonesa                       17449
Pizza                                  5193
Salgados                               6675

In [51]:
df_group = df_group.join(dff_m)
df_group.head()

,buy,session_id,merchant_id,account_id,percent_merchant_most_buy
dish_description,,,,,
Lanches,212614,65789,282,38886,19933
Comida Brasileira,150062,57825,267,29382,12445
Pizza,122567,41852,247,26898,5193
Comida Japonesa,61997,18286,45,12259,17449
Comida Chinesa,39076,12638,19,9255,6485

In [52]:
df_group['percent_merchant_most_buy'] = df_group['percent_merchant_most_buy']/df_group['buy']
df_group['merchant_per_account'] = df_group['merchant_id']/df_group['account_id']
df_group['account_id_per_account'] = df_group['account_id']/df_group['merchant_id']
df_group['buy_per_merchant'] = df_group['buy']/df_group['merchant_id']

df_group

,buy,session_id,merchant_id,account_id,percent_merchant_most_buy,merchant_per_account,account_id_per_account,buy_per_merchant
dish_description,,,,,,,,
Lanches,212614,65789,282,38886,0.093752,0.007252,137.893617,753.950355
Comida Brasileira,150062,57825,267,29382,0.082932,0.009087,110.044944,562.029963
Pizza,122567,41852,247,26898,0.042369,0.009183,108.898785,496.222672
Comida Japonesa,61997,18286,45,12259,0.281449,0.003671,272.422222,1377.711111
Comida Chinesa,39076,12638,19,9255,0.165959,0.002053,487.105263,2056.631579
Marmita,23914,9509,51,6712,0.371331,0.007598,131.607843,468.901961
Açaí,23071,7455,28,4985,0.191539,0.005617,178.035714,823.964286
Carnes,22752,8667,27,4903,0.531382,0.005507,181.592593,842.666667
Salgados,20999,6946,29,5398,0.317872,0.005372,186.137931,724.103448
Comida Saudável,16858,5076,22,2982,0.295171,0.007378,135.545455,766.272727
Comida Árabe,15296,4816,17,3523,0.145071,0.004825,207.235294,899.764706
Doces & Bolos,15276,4059,49,2860,0.100681,0.017133,58.367347,311.755102
Comida Italiana,12985,4301,24,2952,0.426569,0.008130,123.000000,541.041667
Cozinha Rápida,10734,3607,11,2296,0.573505,0.004791,208.727273,975.818182
Mineira,8696,3629,4,2131,0.449057,0.001877,532.750000,2174.000000
Comida Variada,7975,2996,15,1815,0.340313,0.008264,121.000000,531.666667
Sorvetes,6501,2215,9,1454,0.468851,0.006190,161.555556,722.333333
Hambúrguer,4958,1329,2,1102,0.836829,0.001815,551.000000,2479.000000
Frutos do Mar,4175,1394,2,1049,0.609102,0.001907,524.500000,2087.500000
Pastel,3968,1266,15,1069,0.254032,0.014032,71.266667,264.533333
Bebidas,2673,771,21,566,0.184437,0.037102,26.952381,127.285714
Comida Mexicana,2378,467,4,379,0.827166,0.010554,94.750000,594.500000
Frangos,2320,848,1,682,1.000000,0.001466,682.000000,2320.000000
Sopas & Caldos,2148,693,1,475,1.000000,0.002105,475.000000,2148.000000
Padaria,1746,487,9,399,0.671821,0.022556,44.333333,194.000000
Comida Mediterrânea,1591,392,1,308,1.000000,0.003247,308.000000,1591.000000
Peixes,548,198,3,168,0.695255,0.017857,56.000000,182.666667
Comida Asiática,514,123,3,102,0.883268,0.029412,34.000000,171.333333
Comida Contemporânea,470,132,1,97,1.000000,0.010309,97.000000,470.000000
Cafeteria,314,118,3,82,0.961783,0.036585,27.333333,104.666667
Congelados,260,84,7,77,0.523077,0.090909,11.000000,37.142857
Baiana,138,42,1,36,1.000000,0.027778,36.000000,138.000000
Conveniência,125,17,1,15,1.000000,0.066667,15.000000,125.000000
Comida Portuguesa,26,8,1,8,1.000000,0.125000,8.000000,26.000000
Nordestina,11,5,1,5,1.000000,0.200000,5.000000,11.000000
Vegetariana,2,1,1,1,1.000000,1.000000,1.000000,2.000000

In [53]:
df_group.to_csv('dish_description_stats.csv')