In [1]:
import pandas as pd

In [78]:
df: pd.DataFrame = pd.read_parquet("../output/ifood/dataset/session_test_0.20/")
#df: pd.DataFrame = pd.read_parquet("../output/ifood/dataset/indexed_orders_test_data_0.20.parquet/")

#df: pd.DataFrame = pd.read_parquet("../output/ifood/dataset/session_train_0.20/")
    
#df: pd.DataFrame = pd.read_parquet("../output/ifood/ufg_dataset_all/info_session")
df.head(2)

,shift,session_id,account_id,merchant_id,click_timestamp,buy,dt_partition,day_of_week,shift_idx
0,weekday dinner,d2f37d42-9413-415f-9898-61c8c2a7f86d,f366dad1-85e7-4ffa-b577-dfc155a1f3d3,243ed8c7-60d8-4eae-b0be-5aadeef64caa,2019-07-31 23:59:58,0,2019-07-31,3,3
1,weekday dinner,a6b299a8-99c9-4c41-b8f7-1c0c5beb7353,252c6c3f-22ee-4e84-8991-ac3a0150d4a6,fa0b2ff8-c5fa-4fee-98d7-24d688cc80d0,2019-07-31 23:59:58,0,2019-07-31,3,3

In [79]:
df.shape

(1308567, 9)

In [71]:
#df.drop_duplicates().shape

In [74]:
uid = '7fc92fc2-92a5-4f97-a419-3e91c8dbda8e'

In [75]:
df[df.merchant_id.isin([uid])]

AttributeError: 'DataFrame' object has no attribute 'merchant_id'

In [76]:
df[df.account_id.isin([uid])]

AttributeError: 'DataFrame' object has no attribute 'account_id'

In [77]:
df[df.session_id.isin([uid])]#.drop_duplicates()

,session_id,account_idx,merchant_idx,merchant_idx_list,shift,shift_idx,day_of_week
0,7fc92fc2-92a5-4f97-a419-3e91c8dbda8e,109210,1360,"[0, 356, 843, 437, 793, 306, 256, 206, 1570, 1...",weekday dinner,3,3